<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.projectEx.dao.IInteriorDAO">
	<!-- 전체 도서 조회(SQL) -->
		<resultMap id="InteriorResult" type="com.boot.projectEx.model.InteriorVO">
			<result property="interNo" column="interNo"/>
			<result property="interName" column="interName"/>
			<result property="interImg" column="interImg"/>
		</resultMap>
		
		<select id="interior" resultMap="InteriorResult">
				SELECT * FROM interior 
		</select>
	
</mapper>