<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.boot.projectEx.dao.IProductDAO">

	<resultMap id="ProductResult" type="com.boot.projectEx.model.ProductVO">
			<result property="prdNo" column="prdNo"/>
			<result property="prdName" column="prdName"/>
			<result property="prdPrice" column="prdPrice"/>
			<result property="prdImg" column="prdImg"/>
			<result property="prdImg2" column="prdImg2"/>
			<result property="prdOption" column="prdOption"/>
			<result property="prdOption2" column="prdOption2"/>
	</resultMap>
	
	
	<select id="listCtgProduct" parameterType="string" resultType="com.boot.projectEx.model.ProductVO">
		SELECT * FROM product WHERE ctgId=#{ctgId} ORDER BY prdNo
	</select>
	

	
	<select id="detailViewProduct" resultMap="ProductResult" resultType="com.boot.projectEx.model.ProductVO">
		SELECT * FROM product WHERE prdNo=#{prdNo}
	</select>
	
	<select id="listAllProduct" resultMap="ProductResult" resultType="com.boot.projectEx.model.ProductVO">
			SELECT * FROM product 
	</select>
	
</mapper>