body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(17, 17, 17);
}

a {
    color: white;
    transition: all 0.5s;
}

@font-face {
    font-family: 'fa-solid-900';
    src: url('./webfonts/fa-solid-900.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.display-None {
    display: none;
}

.display-flex {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    min-width: 500px;
}

.header-Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intImg {
    height: 500px;
    width: 700px;
    border-radius:18px;

}



.header {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;
}

.color-Change:hover {
    color: rgb(145, 152, 255);
}

.logo {
    font-size: 35px;
    transition: all 0.5s;
    cursor: pointer;
}

.logo a {
    color: white;
    text-decoration: none;
}

.header a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    color: white;
    color: rgb(145, 152, 255);
}


.logo:hover {
    transform: scale(1.2);
}

h3 {
    font-size: 135px;
    font-weight: bold;
}

h3 span {
    font-size: 75px;
}

p span {
    font-size: 13px;
}

.content {
    height: 300px;
}

.content-Item2 {
    position: relative;
    margin-top: 200px;
}

.main-Title {
    padding-left: 30px;
    padding-right: 30px;
}

.english  {
    font-size: 100px;
    font-weight: bold;
}

.footer-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 0.1%;
    width: 100%;
    cursor: pointer;
    z-index: 4;
    text-align: center;
}

.footer-Line {
    width: 20%;
    border-radius: 20px;
    height: 10px;
    background-color: white;
    margin: 15px;
}

.footer-Line h5 {
    margin-top: 15px;
    font-weight: bold;
    color: white;
}


.footer-Container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 35px;
    left: 0.1%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    /* display: none; */
}

.footer-Box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    height: 340px;
    color: black;
    width: 18%;
    border-radius: 20px;
    background-color: white;
    margin: 40px;
    transition: all 0.5s;
    transform: translateY(300px);
}

.footer-Box:hover {
    transform: translateY(20px);
}

.footer-Box-Title {
    font-weight: bold;
    float: left;
    padding-left: 20px;
    margin-top: 20px;
}

.line {
    width: 80%;
    height: 10px;
    margin-left: 10%;
    background-color: rgb(231, 231, 231);
}

@media screen and (max-width: 768px) { 
    .footer-Box {
        background-color: white;
        width: 100%;
        height: 300px;
        border-radius: 20px 20px 0px 0px;
        margin-right: 5%;
        margin-top: 30px;
    }

    .footer-Container2 {
        flex-wrap: wrap;
    }

    .footer-Line {
        width: 20%;
        border-radius: 20px;
        height: 10px;
        background-color: white;
        margin: 15px;
        
    }
}




.content-Container {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    max-width: 100%;
    overflow: hidden;
    visibility: visible;
    text-align: center;
}

.content-Slide {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    float: left;
    /* transition: all 0.6s; */
}

.nextBtn {
    position: fixed;
    float: right;
    top: 600px;
    z-index: 7;
    right: 3%;
    padding: 15px;
    border-radius: 20px;
}

.backBtn {
    position: fixed;
    float: left;
    top: 600px;
    z-index: 7;
    left: 3%;
    padding: 15px;
    border-radius: 20px;
}

.content-Item {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

#content-Title {
    font-weight: 800;
    padding-top: 20px;
}

.content-Out-box {
    padding: 15px;
    margin-bottom: 50px;
}

.content-Box {
    background-color: white;
    border-radius:18px;
    position: relative;
    margin-top: 40px;
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-Box-footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.content-Box-icon {
    margin-top: 10px;
    border-radius: 50%;
    border: white 1px solid;
    width: 30px;
    height: 30px;
}

.content-Box-icon:hover {
    transition: all 0.5s;
    transform: scale(1.3);
}

.content-Box-name {
    padding: 10px;
    font-weight: bold;
    color: white;
}

.hashTag {
    margin-left: 10px;
    color: rgb(112, 102, 240);
    background-color: white;
    border-radius: 20px;
    font-size: 13px;
    max-width: 100px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px rgb(112, 102, 240);
}

.content-Hashtag-box {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}


.sti {
    position:absolute;
    transition: all 10s;
}

.sti img {
    height: 100px;
    width: 100px;
}

#sti1 {
    top: -30px;
    left: 80px;
}

#sti2 {
    top: -150px;
    left: 450px;
}

#sti3 {
    top: -130px;
    right: 150px;
}

#sti4 {
    top: 120px;
    right: 20px;
}

#sti5 {
    top: 170px;
    left:-25px
}

